<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bookmarx - Log In</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
	<link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Open+Sans:400,300%7CMontserrat:400,700'>
</head>
<body>
    <h1>Log In</h1>
    <% if(typeof errors != 'undefined') { %>
            <div class="signup-errors">
               <ul>
               <% for(var i=0; i < errors.length; i++) { %>
                   <li><%= errors[i].msg %></li>
               <% } %>
               </ul>
           </div>
    <% } %>
    <div class="signup-body">
    <form action="/login" method="POST">
        <fieldset class="inputs">
            <div class="signup-field">
                <input type="text" name="username" id="username" value="" placeholder="Username" spellcheck="false">
            </div>
            <div class="signup-field">
                <input type="password" name="password" id="password" value="" placeholder="Password" spellcheck="false">
            </div>
        </fieldset>
        <div class="signup-button">
            <input type="submit" value="Log in">
        </div>
    </form>
    </div>

    <footer>
        <div class="signup-redirect">
            <a href="/passwordReset"> Forgot your password? </a>
        </div>
        <div class="signup-redirect">
        <a href="/signup"> New to Bookmarx? Sign up </a>
        </div>
    </footer>
</body>
