<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bookmarx - Password Reset</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
	<!-- <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Open+Sans:400,300%7CMontserrat:400,700'> -->
</head>
<body>
    <h1>Password Reset</h1>
    <% if(typeof successes !== 'undefined' && successes.length > 0) { %>
            <div class="signup-successes">
               <ul>
               <% for(var i=0; i < successes.length; i++) { %>
                   <li><%= successes[i].msg %></li>
               <% } %>
               </ul>
           </div>
    <% } %>
    <% if(typeof errors != 'undefined') { %>
           <div class="signup-errors">
               <ul>
               <% for(var i=0; i < errors.length; i++) { %>
                   <li><%= errors[i].msg %></li>
               <% } %>
               </ul>
           </div>
    <% } %>
    <p>A password reset link will be sent to your email.</p>
    <div class="signup-body">
    <form action="/passwordReset" method="POST">
        <fieldset class="inputs">
            <div class="signup-field">
                <input type="text" name="username" id="username" value="" placeholder="Username" spellcheck="false" maxlength="25" autofocus required>
            </div>
            <div class="signup-field">
                <input type="password" name="password" id="password" value="" placeholder="Password" spellcheck="false" maxlength="64" required>
            </div>
            <div class="signup-field">
                <input type="password" name="confirm_password" id="confirm_password" value="" placeholder="Confirm Password" spellcheck="false" maxlength="64" required>
            </div>
        </fieldset>
        <div class="signup-button">
            <input type="submit" value="Send email">
        </div>
    </form>
    </div>

    <footer>
        <div class="signup-redirect">
            <a href="/login"> Go to Log in </a>
        </div>
        <div class="signup-redirect">
            <a href="/signup"> Go to Sign up </a>
        </div>
    </footer>
</body>
