<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bookmarx - Password Reset</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
	<link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Open+Sans:400,300%7CMontserrat:400,700'>
</head>
<body>
    <h1>Password Resend</h1>
    <% if(typeof errors != 'undefined') { %>
           <div class="signup-errors">
               <ul>
               <% for(var i=0; i < errors.length; i++) { %>
                   <li><%= errors[i].msg %></li>
               <% } %>
               </ul>
           </div>
    <% } %>
    <p> Username and Password will be sent to your email. </p>
    <div class="signup-body">
    <form action="/passwordReset" method="POST">
        <fieldset class="inputs">
            <div class="signup-field">
                <input type="email" name="email" id="email" value="" placeholder="Email" spellcheck="false" autofocus>
            </div>
        </fieldset>
        <div class="signup-button">
            <input type="submit" value="Send Password">
        </div>
    </form>
    </div>

    <footer>
        <div class="signup-redirect">
            <a href="/login"> Go to Log in </a>
        </div>
        <div class="signup-redirect">
            <a href="/signup"> Go to Sign up </a>
        </div>
    </footer>
</body>
