card {
    width: 100%;
    padding: 2px 2px 2px 0px; /* Padding around the box */
    border: 2px solid navy;
    margin: 20px ; /* Margin from the browser */
    height: 80px;
    text-align: center;
}

logo {
	background-color: red;
	width: 25%;
	border: 2px solid red;
	height: 80px;
	padding: 2px;
}