body {
	font-family: 'Montserrat', sans-serif;
	background-color: #E6EFEF;
}

input {
    font-family: 'Montserrat', sans-serif;
}

h1 {
	text-align: center;
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 40px;
	color: #474448;
}

.signup-errors {
	max-width: 300px;
	margin: 0 auto;
	color: #FF0000;
}

.signup-errors ul {
	padding-left: 20px;
}

.signup-body {
	max-width: 300px;
	margin: 0 auto;
}

fieldset.inputs {
	/*margin: 0 10px 10px;
	padding: 0 0 1px;*/
	margin: 0;
	padding: 0;
	box-shadow: rgba(0,0,0,.25) 0 1px 4px,rgba(0,0,0,.04) 0 -1px 0;
	border-radius: 8px;
	border: none;
	background-color: #6C7A89;
	width: 100%;
}

.signup-field {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border-top: 1px solid #DDDDDD;
	margin: 5px;
	padding: 5px 10px;
}

fieldset.inputs .signup-field:first-child {
	border-top: none;
}

fieldset.inputs input {
	border: none;
    background-color: #6C7A89;
    width: 100%;
    color: #FFFFFF;
    font-size: 15px;
}

.signup-button {
	padding: 0;
	margin: 20px 0;
}

.signup-button input {
	padding: 10px 5px;
	background-color: #A7A7F7;
	border-radius: 4px;
	border: 1px solid;
	border-color: #6060BE;
	width: 100%;
	font-size: 18px;
	color: #FFFFFF;
}

.signup-button input:hover {
	background-color: #8787F7;
}

footer {
	border-top: 1px solid #D0D0D0;
	text-align: center;
	margin: 0 10px;
	padding: 10px 0;
}

.signup-redirect {
	padding: 0 0 10px;
}

.signup-redirect a {
	text-decoration: none;
	color: #6C7A89;
}

p {
	text-align: center;
}

.center-container
{
	display: table;
    height: 800px;
    width: 100%;
}

.center-child
{
	display: table-cell;
    vertical-align: middle;
    font-size: -webkit-xxx-large;
}

@media (max-width: 768px)
{
	.center-container
	{
		display: table;
	    height: 400px;
	    width: 100%;
	}

	.center-child
	{
		display: table-cell;
	    vertical-align: middle;
	    font-size: 30px;
	}

}
