#youtube.card--small .card__title {
  top: 8px;
}

#youtube.card--small .card__action-bar {
  display: inline;
}

#youtube .card__action-bar .card__button .fa-info-circle {
	color:#FF9EAE;
}

.card--small {
	border-radius: 20px 20px 0px 0px;
	box-shadow: none;
}

.card--small .card__image {
	border-radius: 20px 20px 0px 0px;
}

.dropdown p {
	text-align: left;
	background-color: #fff;
	color: #474448;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}